<?xml version="1.0" encoding="UTF-8"?>

 <beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<http auto-config="true">
		<intercept-url pattern="/hunter/login/page" filters="none" />
		<intercept-url pattern="/hunter/login/logout" filters="none" />
		<intercept-url pattern="/static/resources/**" filters="none" />
		<intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN,ROLE_TASK_APPROVER,ROLE_TASK_PROCESSOR" />
		
		<form-login login-page='/hunter/login/page' default-target-url="/hunter/login/after" authentication-failure-url="/hunter/login/page"  />
		<logout logout-success-url="/hunter/login/logout" />
	</http>
	<beans:bean name="hunterUserAuthenticationService" class="com.techmaster.hunter.security.HunterUserAuthenticationService"  >
		 <beans:property name="hunterJDBCExecutor" ref="hunterJDBCExecutor" />
	</beans:bean>
	<beans:bean name="customAuthenticationProvider" class="com.techmaster.hunter.security.HunterAuthenticationProvider"  >
		 <beans:property name="hunterUserAuthenticationService" ref="hunterUserAuthenticationService" />
	</beans:bean>
	<authentication-manager>
		 <authentication-provider ref="customAuthenticationProvider"/>
	</authentication-manager>
</beans:beans>